{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Show the picture -->
        <div class="col-lg-12 center-block result-display" style="background-image: url({{ data.url }});"></div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-12">
            <a href="{{ data.url }}" download="catthat.jpg" class="btn-default btn btn-block">Download</a>
            <a href="{{ url_for('index') }}" class="btn-default btn btn-block">Cat Another</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}