{% extends "base.html" %}
{% block htmlhead %}
<html lang="en" class="background-image">
{% endblock htmlhead %}
{% block content %}
<!-- Page Content -->
<div class="background-image"></div>

<div class="container">
    <div class="row" id="clickable">
        <div class="col-md-6 col-sm-12">
            <h1>Cat That</h1>
            <p>Your picture doesn't have enough cats in it. Click here or drag and drop a picture; we'll find the faces and put cats on them fore you. Picture improved.</p>
            <br/>
            <!-- Flashed messages -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="bg-info">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}

            <p>If the image is already online, throw the url in here:</p>
            <form method="post" action="/finished">
                <input type="url" name="url">
                <input type="submit" value="Cat That!" onclick="showLoader()">
            </form>
            <br/>
            <p>We only retain images for three days. Make sure you download any images worth saving.</p>

            <!-- Don't show the previe of the pictures, a spinning cat head will do instead -->
            <div id="nothing" class="noshow">asdf</div>
            <div id="loader" class="noshow"><p>....LOADING!</p></div>
        </div>
        <div class="col-md-6 visible-md visible-lg">
            <img src="{{ url_for('static', filename='images/cat_pictures/cat_face2.png') }}">
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<script>
    new Dropzone(document.body, {
        url: "{{ url_for('process') }}",
        maxFilesize: 2,
        maxFiles: 1,
        clickable: ".content",
        previewsContainer: "#nothing",
        acceptedFiles: "image/*",
        success: function(file, response){
            window.location="{{ url_for('process') }}?url=" + response.url;
        },
        processing: function(){
            showLoader();
        }
    });
    function showLoader() {
        $("#loader").show()
    }
</script>
{% endblock content %}